body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.test {
  position: absolute;
  top: -15px;
  width: 300px;
}
.center-n {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.animate-text {
  top: 0px;
  position: absolute;
  font-size: 14px;
  position: relative;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  animation: moveUpFadeIn 3.8s ease-in-out infinite;
}
.animate-text2 {
  top: 0px;
  position: absolute;
  font-size: 14px;

  position: relative;
  opacity: 0;
  list-style-type: none;
  animation: moveUpFadeIn2 3.8s ease-in-out infinite;
  position: absolute;
}

#div1 {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 400px;
}
#div2 {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 400px;
}

@keyframes moveUpFadeIn2 {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUpFadeIn {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
